@import "../../assets/styles/settings/_colors";
@import "../../assets/styles/tools/_grid";
@import "../../assets/styles/settings/_fonts";

.menu {
  border-bottom : 1px solid $color-border;

  &__item {
    text-decoration : none;
    padding         : $grid-3x;

    &:hover {
      background-color: silver;
    }

    &--selected {
      background-color: $color-brand;
    }
  }
}

$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px;
  }
}
.user-avatar {
  border-radius: 99%;
}