@font-face {
  font-family: 'Bree Light';
  src: url('assets/fonts/bree-light-opentype-webfont.eot');
  src: url('assets/fonts/bree-light-opentype-webfont.woff') format('woff'),
  url('assets/fonts/bree-light-opentype-webfont.ttf')  format('truetype'),
  url('assets/fonts/bree-light-opentype-webfont.svg') format('svg');
}