@import "../../assets/styles/settings/_colors";
@import "../../assets/styles/tools/_grid";
@import "../../assets/styles/settings/_fonts";

.menu {
  border-bottom : 1px solid $color-border;
  display       : flex;
  align-items   : center;

  &__item {
    color           : $color-text;
    text-decoration : none;
    padding         : $grid-3x;

    &:hover {
      background-color: $color-background;
    }

    &--selected {
      background-color: $color-brand;
    }
  }
}