body {
  background-color: white;
}

ma-home {
  display: flex;
  height: 100%;

  md-toolbar {
    &.md-medium-tall {
      min-height: 65px;
      max-height: 65px;
      height: 65px;
    }

    &.md-toolbar--home{
      display: flex;
      justify-content: center;
      padding-left: 10px;
    }
  }
}

.layout-logo {

}