@import "../settings/_colors";
@import "../tools/_grid";
@import "../settings/_fonts";

body {
  overflow: auto;
  background-color: white;
  font-size: $font-size-fa;
  @extend %Roboto-regular;
  margin: 0;
}

input[type=text]::-ms-clear {
  display: none;
}

a {
  text-decoration: none;
}